* {
    font-family: "comic sans MS";
    box-sizing: border-box;

}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
}

.head {
    position: relative;
    text-transform: uppercase;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.head span {
    text-align: center;
    background-color: midnightblue;
    width: 60px;
    margin-right: 2px;
}

.head:hover span:nth-child(odd) {
    transform: skewY(15deg);
}

.head:hover span:nth-child(even) {
    transform: skewY(-15deg);
}


p {
    margin: 20px;
    padding: 20px;
    border-radius: 25px;

}



h2 {
    background-repeat: no-repeat;
    color: white;
    padding: 10px;
    background-color: black;
    text-shadow: 2px 2px red;
}


.sprog {
    display: flex;
    align-items: center;
    width: 400px;
    padding: 1px;
    margin: 30px;
    background-color: midnightblue;
    color: white;
    border-radius: 25px;
    box-shadow: 10px 15px 8px royalblue;
}


.fritid {
    display: flex;
    align-items: center;
    width: 600px;
    padding: 20px;
    margin: 30px;
    background-color: midnightblue;
    color: white;
    border-radius: 25px;
    box-shadow: 10px 15px 8px royalblue;
}


.skole {
    display: flex;
    align-items: center;
    background-color: midnightblue;
    width: 800px;
    padding: 10px;
    margin: 30px;
    color: white;
    border-radius: 25px;
    box-shadow: 10px 15px 8px royalblue;
}

.sprog, .fritid, .skole {
    display: flex;
    flex-direction: column;
}



.kontakt {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}


address {
    display: flex;
    justify-content: center
}


figure {
    display: flex;
    justify-content: center;
}



@media screen and (max-width: 500px) {
    .kontakt {
        display: flex;
        flex-direction: column;
        padding: 12px;
        margin: 10px;
    }
}


